body{
    margin: 0px;
    padding: 0px;
    background: #171717;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}

.keys{
    position: relative;
    display: flex;
    justify-content: center;
    flex-flow: wrap;
    align-items: center;
    height: 100vh;
}

.keys::before{
    content: '';
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    background-image: url("band.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    opacity: 0.25;
}

.key{
    border: 4px solid black;
    border-radius: 5px;
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem .5rem;
    transition: all 0.07s;
    width: 100px;
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, 0.4);
    text-shadow: 0 0 5px black;
}

.playing{
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 10px #ffc600;
}

kbd{
    display: block;
    font-size: 40px;
}

.sound{
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #ffc600;
}
h1{
    display: flex;
    justify-content: center;
    align-items: center;
}
h4{
    display: flex;
    justify-content: center;
    align-items: center;
    color: orange;
}

@media screen and (max-width: 1200px){
    .key{
        width: 40%
    }
}

@media screen and (max-width: 600px){
    .key{
        width: 90%;
    }
}
